{% extends 'Back/base.html.twig' %}

{% block title %}Nouveau Tournoi{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Créer un nouveau tournoi</h1>
        {{ include('tournoi/_form.html.twig') }}
        <a href="{{ path('app_tournoi_indexBack') }}">← Retour a la liste</a>
    </div>
{% endblock %}

