{% extends 'Back/base.html.twig' %}

{% block title %}Nouveau Match{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Nouveau Match</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Créer un nouveau match</h3>
                    </div>
                    <div class="card-body">
                        {{ include('Gestion_Match/Back/_form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_gestion_match_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
