{% extends 'back/base.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

    <h1>Create new Equipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('app_equipe_index') }}">back to list</a>
{% endblock %}
